.background-img {
  height: 100vh;
   
}


.single-movie-container {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  height: 80%
}

.extra-info-container {
  width: 70%;
}

.card-container-single-movie {
 background-color: rgba(0, 0, 0);
 border-radius: 5px; 
}

.extra-info-overview {
  font-size: 1.2em
}

.extra-info {
  font-size: 1.2em; 
}

