.card-container {
  display: flex; 
  flex-direction: column; 
  box-shadow: 12px 12px 25px 1px rgba(194, 3, 252, .2),
  -12px -12px 25px 1px rgba(194, 3, 252, .2);
  width: 22%;
  border-radius: 5px; 
}

.card-image {
  border-radius: 5px 5px 0px 0px; 
  height: 35vh; 
  object-fit: cover;  
  margin-bottom: 5px; 
}

.card-text {
  margin: 0px 0px 5px 20px;  
}