.card-container {
  display: flex;
  flex-direction: column;
  margin: 1%;
  box-shadow: 12px 12px 25px 1px rgba(194, 3, 252, .2),
  -12px -12px 25px 1px rgba(194, 3, 252, .2);
  width: 22%;
  border-radius: 5px;
}

.card-image {
  margin-top: 15px;
  border-radius: 5px 5px 0px 0px;
  height: 35vh;
  object-fit: scale-down;
  margin-bottom: 5px;
}

.card-text {
  margin: 0px 0px 5px 20px;
}


@media only screen and (max-width: 940px) {

  .card-container {
    width: 30%;
  }

  .card-image {
    object-fit: contain;
  }

}

@media only screen and (max-width: 540px) {

  .card-container {
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 80vh;
  }

  .card-image {
    width: 90%;
    height: 50vh;
  }

}
